<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>54523046695-41kt3v0v2gde9o5s6l8isqn251hbdo47.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.54523046695-41kt3v0v2gde9o5s6l8isqn251hbdo47</string>
	<key>API_KEY</key>
	<string>AIzaSyA_2hrE7d_20uVy7IVYAa9-k0zRJL0pnOg</string>
	<key>GCM_SENDER_ID</key>
	<string>54523046695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cgraham.RoamX</string>
	<key>PROJECT_ID</key>
	<string>roamx-d1949</string>
	<key>STORAGE_BUCKET</key>
	<string>roamx-d1949.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:54523046695:ios:67c180e01ac7c30620d702</string>
</dict>
</plist>